body{
    align-items: center;
}
.container{
    margin: 0 auto;
    width: 50%;
    border: 2px solid black;
    border-radius: 8px;
    padding: 1rem;
   
}
.container > h1 {
    text-align: center;
}
ul{
    list-style-type: none;
}
.list-item{
    background-color: antiquewhite;
    margin-bottom: 1px;
    padding: 8px 0;
    text-align: center;
}